<?php
	function friendlySsid($s,$band=2){
		if( strlen($s) ){ 
			return $s;
		}
	}

	function draw_input_boxes($band, $cssClass){
		$ssids = $vlans = array();
		$init = ($band == 2 ? 0 : 8 );
        $total = $band == 2 ? 6 : 16;
		for($i=$init;$i < $total ;$i++){
			$value = $sel = "1";
			$ssid = friendlySsid(exec("uci get wireless.@wifi-iface[$i].ssid"));
			if( strlen($ssid) ){
		        
		        if("0"==exec("uci get wireless.@wifi-iface[$i].disabled")){
        			echo '<tr><td align="left"><div class="form-item-label" style="padding:5px 0 5px 0;"><label for="selConnectionType">'.$ssid.' </label></div></td>';
        			$net = exec("uci get wireless.@wifi-iface[$i].network");
        			if( preg_match('|vlan(\d+)|',$net,$m )){
        				$value = $m[1];
        			}
        			echo '<td align="right"><div class="form-item-input " style="padding:5px 10px 5px 0;"><input value="'.$value.'" type="hidden" name="vlanHidden_'.$i.'"><input type="text" name="vlan_'.$i.'" class="vlan_text_input '.$cssClass.'" id="vlan_'.$i.'" value="'.$value.'" style="width:60px;"></div></td></tr>';
		        }
			}
		}
	}
?>
<script src='/js/form.js'></script>
<script language="Javascript">
var vlan_list = ['vlan_0','vlan_1','vlan_2','vlan_3', 'vlan_4', 'vlan_5','vlan_6','vlan_7','vlan_8','vlan_9','vlan_10','vlan_11'];
$(function(){

	function createCookie(name,value,days) {
		if (days) {
			var date = new Date();
			date.setTime(date.getTime()+(days*24*60*60*1000));
			var expires = "; expires="+date.toGMTString();
		}
		else var expires = "";
		document.cookie = name+"="+value+expires+"; path=/";
	}

	function readCookie(name) {
		var nameEQ = name + "=";
		var ca = document.cookie.split(';');
		for(var i=0;i < ca.length;i++) {
			var c = ca[i];
			while (c.charAt(0)==' ') c = c.substring(1,c.length);
			if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
		}
		return null;
	}

	function eraseCookie(name) {
		createCookie(name,"",-1);
	}
	var cookieValue=readCookie('test');
	if(cookieValue==null){
		createCookie("test","5",1);
		confirm('WARNING: You must have a VLAN switch setup for this to work! Otherwise, you will be denied all access to this device');
	}
	//$.cookie("example", "foo", { expires: 100}); // Sample
	//alert( $.cookie("example") ); 
	

	load_help_ajax('VLANTagging_help');

    $("#vlanTagging").change(function(){
        if($(this).val()=="0"){
			$("#enabledMode").slideUp("slow");
        }else{
			$("#enabledMode").slideDown("slow");
        } 
    });

	$(".vlan_text_input").change(function(){
		vlanValidate($(this).attr("id"));
		//mgmt_scan_warn();
	});

	
	$(".vlan_text_input").keyup(function(){
		vlanValidate($(this).attr("id"));
		//mgmt_scan_warn();
	});

	$("#managementVLAN").change(function(){
		vlanValidate("managementVLAN");
		if( $("#managementVLAN").val().length == 0 ){
			$("#enabledModeInner").slideUp("slow");
		}else{
			$("#enabledModeInner").slideDown("slow");
		}
	});

	$("#managementVLAN").keyup(function(){
		vlanValidate("managementVLAN");
		if( $("#managementVLAN").val().length == 0 ){
			$("#enabledModeInner").slideUp("slow");
		}else{
			$("#enabledModeInner").slideDown("slow");
		}
	});

	$("#btnSave").click(function(){
		if($("#vlanTagging").val()=="0"){
    		return confirm("Disabling VLANs will return all SSIDs to the default configuration");
		}
	});
	
	/*$("#frmVLANSettings").submit(function(event){
		one_ctr=0;
		violators = new Array();
		for(i=0;i<6;i++){
			if($("#vlan_"+i).val() == 1 ){
				one_ctr++;
				violators.push(i);
			}
		}
		
		if( one_ctr > 1 ){
			alert("You can only have one SSID on channel 1");
			event.preventDefault();
			violators.forEach(function(item){
				apply_redflag("#vlan_" + item);
			});
			return false;
		}

		if( mgmt_scan_warn() == false ){
			alert("SSIDs cannot have the same VLAN id number as the Management VLAN");
			return false;
		}
	}); */
    
	if($("#vlanTagging").val()=="0"){
		$("#enabledMode").slideUp("slow");
	}else{
		if($("#managementVLAN").val()!=""){
			$("#enabledMode").slideDown("slow");
			$("#enabledModeInner").slideDown("slow");
		}else{
			$("#enabledMode").slideDown("slow");
			$("#enabledModeInner").slideUp("slow");
		}
	}

	$( document ).on("click","#btnCancel", function(){
        document.getElementById("frmVLANSettings").reset();
        triggerChange();
     });

    function triggerChange(){
    	$("#vlanTagging").trigger("change");
    }
    triggerChange();
	
});
function vlanValidate(id){
	var val = $('#'+id).val();
	if( val.length == 0 ){ return remove_redflag(id); }
	if( (val >=1) && (val <= 4080) ){ return remove_redflag(id);}
	else{ return apply_redflag(id); }

	if(val.match(/[^0-9]/) ){
		return apply_redflag(id);
	}else{
		remove_redflag(id);
		return;
	}
}

function mgmt_scan_warn(){
	m = $("#managementVLAN");
	vlan_list.forEach(function(item){		
    		if( item.value == m.val() && ( m.val().length > 0 )){
    			apply_redflag(item.id);
    		}else{
    			remove_redflag(item.id);
    		}
		
	});
}

</script>

<div id="noticeContainer"><?php displayNotices(); ?></div>
<div align='center'>

</div>
<form id='frmVLANSettings' method=POST >
	<h2>VLAN Tagging for Virtual SSIDs</h2>
	<div class="form-item clearfix">
		<div class="form-item-label">
			<label for="selConnectionType">VLAN Tagging</label>
		</div>
		<div class="form-item-input" style="padding:0 0 0 5px;">
			<?php $options=array("0"=>"Disabled (Default)", "1"=>"Enabled");?>			
			<?php Page::draw_select($options, "vlanTagging", $vlanStatus);?>
		</div>
	</div>
	<div id="enabledMode" style="display:none;">
		<div class="form-item clearfix">
			<div class="form-item-label">
				<label for="selConnectionType">Management VLAN 1</label>
				<input type="hidden" value="1"  name="managementVLAN" id="managementVLAN"/>
			</div>
			
		</div>	
	
		<div id="enabledModeInner">
		<hr>
			<h2>2.4Ghz VLAN</h2>
			<div class="form-item clearfix">
				<table width="100%" cellpadding="2" cellspacing="2">
					<tr>
						<td>
							<div class="form-item-label">
								<label for="selConnectionType">SSID</label>
							</div>
						</td>
						<td>
							<div class="form-item-label">
								<label for="selConnectionType">VLAN ID (1-4080)</label>
							</div>
						</td>
					</tr>			
					<?php draw_input_boxes(2, "vlan_text_input2"); ?>
				</table>
			</div>
			<hr>
			<h2>5Ghz VLAN</h2>
			<div class="form-item clearfix">
				<table width="100%" cellpadding="2" cellspacing="2">
					<tr>
						<td>
							<div class="form-item-label">
								<label for="selConnectionType">SSID</label>
							</div>
						</td>
						<td>
							<div class="form-item-label">
								<label for="selConnectionType">VLAN ID (1-4080)</label>
							</div>
						</td>
					</tr>
					<?php draw_input_boxes(5,"vlan_text_input5"); ?>
				</table>
			</div>
		</div>
	</div>
	
	<div class="button-container" align=center>
	<?php Page::draw_submit("SRR");	?>
	</div>
</form>